.register{
    height:calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), 
        url('https://images.pexels.com/photos/10346312/pexels-photo-10346312.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    align-items: center;
}

.registerTitle{
    font-size: 50px;
}

.registerForm{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.registerForm>label{
    margin: 10px 0;
}

.registerInput{
    padding: 10px;
    background-color:white;
    border:none;
}

.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border:none;
    color:aliceblue;
    padding: 10px;
    border-radius: 10px;
}

.registerLoginButton{
    position:absolute;
    top:60px;
    right:20px;
    background-color:lightcoral;
    border:none;
    cursor: pointer;
    color:white;
    border-radius:10px;
    padding: 10px;
}